@{
    ViewData["Title"] = "Jugar";
}
<body class="bodyConfig">
    <div class="configJuego">
       <h2>Configuración del Juego</h2>

       <form method="GET" action='@Url.Action("Comenzar", "Home")'>
            <label for="username">Nombre del Jugador: </label>
            <input type="text" name="username" id="username" required>
            
            <label for="dificultad">Dificultad: </label>
            <select name="dificultad" id="dificultad">
                @foreach (var dificultad in BD.ObtenerDificultades())
                {
                    <option value="@dificultad">@dificultad.Nombre</option>
                }
            </select>
            
            <label for="categoria">Categoria: </label>
            <select name="categoria" id="categoria">
                @foreach (var categoria in BD.ObtenerCategorias())
                {
                    <option value="@categoria">@categoria.Nombre</option>
                }
            </select>
            
            <button type="submit">Comenzar</button>
       </form>
    </div>
    
</body>

