@{
    ViewData["Title"] = "Jugar";
}
<body>
    <div class="configJuego">
       <h2>Configuración del Juego</h2>

       <form action="IniciarJuego" method="get">
            <label for="username">Nombre del Jugador: </label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="dificultad">Dificultad: </label>
            <select name="dificultad" id="dificultad">
                @foreach (var dificultad in BD.ObtenerDificultades())
                {
                    <option value="@dificultad">@dificultad.Nombre</option>
                }
            </select>
            <br>
            <label for="categoria">Categoria: </label>
            <select name="categoria" id="categoria">
                @foreach (var categoria in BD.ObtenerCategorias())
                {
                    <option value="@categoria">@categoria.Nombre</option>
                }
            </select>
            <br>
            <a href='@Url.Action("IniciarJuego","Home")'><input type="submit" value="Iniciar Juego"></a>
       </form>
    </div>
    
</body>

