@{
    ViewData["Title"] = "Jugar";
}
<body class="bodyConfig">
    <div class="configJuego">
       <form method="GET" action='@Url.Action("Comenzar")'>
            <h2>Configuración del Juego</h2>
            <label for="username">Nombre del Jugador: </label>
            <input type="text" name="username" id="username" required>
            
            <label for="dificultad">Dificultad: </label>
            <select name="dificultad" id="dificultad">
                <option value="-1">Todas</option>
                @foreach (var dificultad in BD.ObtenerDificultades())
                {
                    <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
                }
            </select>
            
            <label for="categoria">Categoria: </label>
            <select name="categoria" id="categoria">
                <option value="-1">Todas</option>
                @foreach (var categoria in BD.ObtenerCategorias())
                {
                    <option value="@categoria.IdCategoria">@categoria.Nombre</option>
                }
            </select>
            
            <input type="submit" value="Jugar" />
       </form>
    </div>
    
</body>

