@{
    ViewData["Title"] = "Jugar";
}
<body>
    <div>
        <ul class="barra-info">
            <li><p>Jugador: @ViewBag.Username</p></li>
            <li><p>Puntaje: @ViewBag.Puntaje</p></li>
        </ul>
    </div>

    <div class="pregunta">
        <p>Pregunta @ViewBag.Pregunta.IdPregunta</p>
        <h3>@ViewBag.Pregunta.Enunciado</h3>
        <form method="post" action='@Url.Action("VerificarRespuesta")'>
            <input type="hidden" name="idPregunta" value=@ViewBag.Pregunta.IdPregunta />
            <div class="respuestas">
                @foreach (Respuesta resp in ViewBag.Respuestas){
                    <button class="respuesta" type="submit" name="idRespuesta" value=@resp.IdRespuesta>@resp.Contenido</button>
                }
            </div>
        </form>
    </div>

    
</body>
